In [1]:
d1 = {
    1:"Yogita",2:"Prakash",3:"Jiju",4:"Akshit"
}

In [6]:
d1

{1: 'Yogita', 2: 'Prakash', 3: 'Jiju', 4: 'Akshit'}

In [3]:

d1[1]

'Yogita'

In [4]:
d1.keys()

dict_values(['Yogita', 'Prakash', 'Jiju', 'Akshit'])

In [5]:
d1.values()

dict_values(['Yogita', 'Prakash', 'Jiju', 'Akshit'])

In [7]:
d1.items()

dict_items([(1, 'Yogita'), (2, 'Prakash'), (3, 'Jiju'), (4, 'Akshit')])

In [8]:
for k,v in d1.items():
  print("key:", k ,"value:", v)

key: 1 value: Yogita
key: 2 value: Prakash
key: 3 value: Jiju
key: 4 value: Akshit

In [9]:
d2={"Roll No": [1,2,3,4], "Names": ["Yogita","Prakash","Jiju","Akshit"]}

In [10]:
d2

{'Roll No': [1, 2, 3, 4], 'Names': ['Yogita', 'Prakash', 'Jiju', 'Akshit']}

In [15]:
d1.update({5:"Adharsh"})
d1

{1: 'Yogita', 2: 'Prakash', 3: 'Jiju', 4: 'Akshit', 5: 'Adharsh'}

In [17]:
d1.pop(5)

'Adharsh'

In [18]:
d1

{1: 'Yogita', 2: 'Prakash', 3: 'Jiju', 4: 'Akshit'}

In [19]:
# Employee Directory Management System
# Commplete the code as per the instrictions provided in the comments

# Initialize an empty dictionary to store employee records
employee_directory = {}

In [20]:
employee_directory.update({"employee_id":[1,2,3,4,5],"name":["Vijay","Ram","Sonu","Akshaya","vinod"],"department":["HR","IT","IT","HR","HR"]})

In [21]:
employee_directory

{'employee_id': [1, 2, 3, 4, 5],
 'name': ['Vijay', 'Ram', 'Sonu', 'Akshaya', 'vinod'],
 'department': ['HR', 'IT', 'IT', 'HR', 'HR']}

In [22]:
# Function to add a new employee
def add_employee(employee_id, name, department):
    if employee_id not in employee_directory:
        #1 Add the new employee record to the dictionary

        print(f"Employee {name} added successfully.")
    else:
        print(f"Employee ID {employee_id} already exists.")

In [23]:
add_employee(6,"Vishal","IT")

Employee Vishal added successfully.

In [24]:
add_employee(7,"Arun","HR")

Employee Arun added successfully.

In [25]:
print(employee_directory)

{'employee_id': [1, 2, 3, 4, 5], 'name': ['Vijay', 'Ram', 'Sonu', 'Akshaya', 'vinod'], 'department': ['HR', 'IT', 'IT', 'HR', 'HR']}

In [28]:

# Function to retrieve employee details
def get_employee(employee_id):
    #2 Use the appropriate dictionary method in place of None to retrieve the employee record
    employee = None
    if employee:
        return employee
    else:
        return "Employee not found."

In [29]:
get_employee(1)

'Employee not found.'

In [30]:

# Function to update employee department
def update_employee(employee_id, new_department):
    if employee_id in employee_directory:
        #3 Update the employee record with the new department in the dictionary

        print(f"Employee ID {employee_id}'s department updated to {new_department}.")
    else:
        print("Employee not found.")

In [31]:






# Function to remove and return the employee
def remove_employee(employee_id):
    #4 return the removed employee record from the dictionary
    pass

# Function to display the entire employee directory
def display_directory():
    if employee_directory:
        print("\nEmployee Directory:")
       #5 Display the employee records in the dictionary using a loop and appropriate dictionary method
       # that retrieves the key-value pairs in the dictionary.
    else:
        print("The employee directory is empty.")

# Sample usage
if __name__ == "__main__":
    # Adding employees
    add_employee(101, "Alice Johnson", "HR")
    add_employee(102, "Bob Smith", "Engineering")
    add_employee(103, "Charlie Brown", "Marketing")

    # Displaying the directory
    display_directory()

    # Retrieving employee details
    print(get_employee(102))  # Should return details for Bob Smith

    # Updating employee department
    update_employee(103, "Sales")

    # Displaying the directory again
    display_directory()

    # Removing an employee
    print("Removed employee:", remove_employee(101))

    # Displaying the directory again
    display_directory()

Employee Alice Johnson added successfully.
Employee Bob Smith added successfully.
Employee Charlie Brown added successfully.

Employee Directory:
Employee not found.
Employee not found.

Employee Directory:
Removed employee: None

Employee Directory:

In [32]:
for i in range(100):
  print(i * i)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

In [33]:
sqrt_dict = {x : x ** 2 for x in range(1,6)}  #Key-Value pair(x :x) in 'Dict'
print(sqrt_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [34]:
sqrt_set = { x ** 2 for x in range(1,6)} #Only values(x) in 'Set'
print(sqrt_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [35]:
my_dict = {'name':'Jhon','age':30}
print(my_dict.keys())

dict_keys(['name', 'age'])

In [36]:
print(my_dict.values())

dict_values(['Jhon', 30])

In [37]:
fruits = {"apple":10,"banana":20,"cherry":15}
last_item = fruits.popitem()   #popitem() method returns the last item
print(last_item)
print(fruits)

('cherry', 15)
{'apple': 10, 'banana': 20}

In [38]:
inventory = {"item1":5,"item2":8}
inventory.clear()   #clean() method delete all
print(inventory)

{}

In [39]:
my_list = [1,2,3]
index=1
if index < len(my_list):
  print(my_list[index])
else:
  print("Index out of range")

2

In [45]:
my_dict = {"name":"Alice"}
if "age" in my_dict:
  print(my_dict["age"])
else:
  print("Key not found")

Key not found

In [46]:
                #OR
print(my_dict.get("age","key not found"))

key not found

In [47]:
my_tuple = (1,2,3)    #Tuple is "Immutable" so tuple -> list-> modify
                                  # After modification modify-> list ->tuple
#convert the tuple to list to modify
my_list = list(my_tuple)
my_list[0] = 10 #modify the first element
# convet list to tuple
my_tuple = tuple(my_list)
print(my_tuple)

(10, 2, 3)

In [48]:
my_set = {1,2,3}
my_set.add(4)  #add element
for item in my_set:
  print(item)

1
2
3
4